h1 {
  font-weight: bold;
  color: rgb(255,244,0);
  text-align: left;
  margin-left: 250px;
  letter-spacing: 3px;
  padding-top: 19px;
  font-size: 50px;
  font-family: 'Unica One', cursive;
}


#header {
    background-color: rgb(10,10,10);
    height: 100px;
    width: 100%;
}

#footer {
    background-color: rgb(10,10,10);
    height: 140px;
    width: 100%;
}

iframe {
  margin: auto;
  display: block;
}

body {
  background-color: #E8E8E8;
}

a img:hover {
  box-shadow: 3px 3px 3px #aaa;
}

.imgt {
  max-width: 384px;
  max-height: 216px;
  border: 5px solid white;
  border-radius: 10px;
  margin: 40px;
}

 table.center {
   width: 50%;
   margin-left: auto;
   margin-right: auto;
 }
