h1 {
  font-weight: bold;
  color: rgb(255,244,0);
  text-align: left;
  letter-spacing: 3px;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 50px;
  font-family: 'Unica One', cursive;
  vertical-align: middle;
}

li {
  font-family: 'Unica One', cursive;
  color: rgb(255,244,0);
  text-align: right;
  margin-right: 30px;
  font-size: 20px;
  display: inline;
}

#header {
    background-color: rgb(10,10,10);
    width: 100%;
}

#footer {
    background-color: rgb(10,10,10);
    width: 100%;
}

h2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  text-align: center;
  padding: 30px;
  border-bottom: grey solid 2px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #E8E8E8;
}

a img:hover {
  box-shadow: 3px 3px 3px #aaa;
}

.imgt {
  width: 80%;
  border: 5px solid white;
  border-radius: 10px;
  margin: 40px;
}

 table.center {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
 }

 a:link {
   text-decoration: none;
   color: rgb(255,244,0);
 }

 a:hover {
   text-decoration: underline;
   color: rgb(255,244,0);
 }

 a:visited {
   text-decoration: none;
   color: rgb(255,244,0);
 }

 a:focus {
   text-decoration: none;
   color: rgb(255,244,0);
 }

 a:active {
   text-decoration: none;
   color: rgb(255,244,0);
 }

 #one {
   display: inline-block;
   width: 20%;
   vertical-align: middle;
   max-width: 20%;
 }

 #two {
   display: inline-block;
   width: 79%;
   text-align: right;
   vertical-align: middle;
 }

 #footerdiv {
   width: 80%;
   text-align: center;
   vertical-align: middle;
 }

#fone {
  display: inline-block;
  vertical-align: middle;
}

#ftwo {
  display: inline-block;
  vertical-align: middle;
}

#fthree {
  display: inline-block;
  vertical-align: middle;
}

#ffour {
  display: inline-block;
  vertical-align: middle;
}

#ffive {
  display: inline-block;
  vertical-align: middle;
}

#fsix {
  display: inline-block;
  vertical-align: middle;
}

h3 {
  color: rgb(255,244,0);
  font-size: 30px;
  font-family: 'Unica One', cursive;
  letter-spacing: 3px;
}

img.yt {
  width: 40%;
  height: auto;
}

img.skype {
  width: 35%;
  height: auto;
}

img.twitter {
  width: 20%;
  height: auto;
}
